<!-- <div class="toolbar sticky-top" role="banner">
    <img width="40" alt="Angular Logo" src="../assets/Images/icon.jpg" />
    <span class="m-auto">LightHouse</span>
    <button class="btn btn-danger mr-4" (click) = "logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i>
      Sign Out</button>
  </div> -->
<!-- {{data}} -->
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-2 shadow" style="height: auto;">

  <!-- <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Company name</a> -->
  <img class="col-md-3 col-lg-2 me-0 px-3 ml-4" href="/lighthouse" alt="icon" style="width: 100px; height: 50px; border-radius: 50%; margin: 7px;" src="../assets/Images/icon.jpg"/>
  <!--  -->
<div></div>
  <!-- <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" style="position: relative; left: 250px;" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
<a class="navbar-brand col-md-3 col-lg-2 me-0 px-5 m-auto" href="/lighthouse"><b>LightHouse</b> </a>

  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <!-- <a class="nav-link" href="#">Sign out</a> -->
      <button class="btn btn-danger mr-4" (click)="logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i>
        Sign Out</button>
    </li>
  </ul>

</header>