<!-- <div class="container">
    <div class="card">
        <div class="card-header">
            
        </div>
        <div class="card-body">
           
        </div>
        <div class="card-footer">

        </div>
    </div>
</div> -->

<div class="container">
    <!-- <div class="card"> -->
        <!-- <div class="card-header bg-dark "> -->
        <app-nav *ngIf="_route.url != '/' "></app-nav>
        <!-- </div> -->
        <app-navbar></app-navbar>
        <!-- <app-login></app-login> -->
        <!-- <div class="card-footer"> -->
        <!-- style="position: fixed; bottom: 0; width: 73%;" -->
        <app-footer></app-footer>
        <!-- </div> -->
    <!-- </div> -->
</div>