<!-- <p>add works!</p> -->
<!-- <h3 class="text-light m-auto text-center"><span class="badge bg-secondary">Enrollment - Dashboard</span></h3> -->
<form #fdata="ngForm" (ngSubmit)="putData(fdata.value)">
    <div class="form-group">
        <label for="">Full Name</label>
        <input type="text" name="fname" class="form-control" #fname="ngModel" ngModel required
            pattern="[A-Z][a-zA-Z][^#&<>\\\~;$^%{}?]{1,20}$" placeholder="Full Name">
        <div class="text-danger" *ngIf="fname.invalid && fname.touched">
            <div *ngIf="fname.hasError('required')">Name required !!</div>
            <div *ngIf="fname.hasError('pattern')">Name must be characters only !!</div>
        </div>
    </div>
    <div class="form-group">
        <label for="">Contact</label>
        <input type="text" name="contact" class="form-control" #con="ngModel" ngModel required pattern="[0-9]{10}"
            placeholder="Contact">
        <div class="text-danger" *ngIf="con.invalid && con.touched">
            <div *ngIf="con.hasError('required')">Contact required !!</div>
            <div *ngIf="con.hasError('pattern')">Contact must be nummeric !!</div>
        </div>
    </div>
    <div class="form-group">
        <label for="">EMail</label>
        <input type="text" name="email" class="form-control" #em="ngModel" ngModel required
            pattern="[a-zA-Z][^#&<>\\\~;$^%{}?]{1,20}$" placeholder=" you@example.com">
        <div class="text-danger" *ngIf="em.invalid && em.touched">
            <div *ngIf="em.hasError('required')">Email required !!</div>
            <div *ngIf="em.hasError('pattern')">Email must be in proper format !!</div>
        </div>
    </div>

    <br>

    <div class="form-inline">
        <label>Qualification</label>
        <select name="qualification" #qualification="ngModel" ngModel required class="form-control ml-5"
            (change)="showSpec(qualification.value)">
            <option value="">--Select a Qualification--</option>
            <option [value]="q" *ngFor="let q of edu">
                {{q}}
                <!-- <div *ngIf = "q == 'ssc' " [ngStyle] = "myStyle">

                </div> -->
            </option>
        </select>
        <!-- {{r}} -->
        <!-- {{qualification.value}} -->
        <!-- <div *ngIf="!isShow"> -->
        <!-- [hidden] = "isShow" -->
        <label class="m-auto" [hidden]="isShow">Specilization</label>
        <input type="text" name="Specilization" class="form-control" #sp="ngModel" [hidden]="isShow" ngModel required
            pattern="[a-zA-Z][^#&<>\\\~;$^%{}?]{1,20}$" placeholder="Specialization">
        <!-- </div> -->


    </div>
    <div class="form-inline"><br>
        <div class="text-danger" style="position: absolute; left: 170px;"
            *ngIf="qualification.invalid && qualification.touched">
            <div *ngIf="qualification.hasError('required')">Qualification Required !!</div>
        </div>

        <div class="text-danger" style="position: relative; left: 680px;" *ngIf="sp.invalid && sp.touched">
            <div *ngIf="sp.hasError('required')">Specilization required !!</div>
            <div *ngIf="sp.hasError('pattern')">Specilization must be characters !!</div>
        </div>
    </div>

    <br><br>

    <div class="form-inline">
        <label>Appearing</label><br>
        <div class="form-check form-check-inline ml-5">
            <input class="form-check-input form-control" type="radio" name="appearing" #appearing
                (click)="showSpec2(appearing.value)" ngModel value="Completed" id="Completed" />
            <label class="form-check-label" for="Completed">Completed</label>
        </div>

        <div class="form-check form-check-inline ml-5">
            <input class="form-check-input form-control" type="radio" name="appearing" #appearing2
                (click)="showSpec2(appearing2.value)" ngModel value="Appearing" id="Appearing" />
            <label class="form-check-label" for="Appearing">Appearing</label>
        </div>

        <label class="m-auto" [hidden]="isShow2">Year Of Passing</label>
        <input type="text" name="yop" class="form-control" [hidden]="isShow2" #year="ngModel" ngModel required
            pattern="[0-9]{4}" placeholder="Year Of Passing">
    </div>
    <div class="text-danger" style="float: right; margin-right: 30px;" *ngIf="year.invalid && year.touched">
        <div *ngIf="year.hasError('required')">Passing year required !!</div>
        <div *ngIf="year.hasError('pattern')">Passing year must be nummeric !!</div>
    </div>
    <br>

    <div class="form-group">
        <label for="">College Name</label>
        <input type="text" name="clgnm" class="form-control" #cname="ngModel" ngModel required
            pattern="[a-zA-Z][^#&<>\\\~;$^%{}?]{1,20}$" placeholder="College Name">
        <div class="text-danger" *ngIf="cname.invalid && cname.touched">
            <div *ngIf="cname.hasError('required')">College name required !!</div>
            <div *ngIf="cname.hasError('pattern')">College name must be characters only !!</div>
        </div>
        <br>
        <label for="">City</label>
        <input type="text" name="city" class="form-control" #cty="ngModel" ngModel required pattern="[A-Za-Z]{1,20}$"
            placeholder="City">
        <div class="text-danger" *ngIf="cty.invalid && cty.touched">
            <div *ngIf="cty.hasError('required')">City required !!</div>
            <div *ngIf="cty.hasError('pattern')">City must be characters only !!</div>
        </div>
    </div>
    <br>
    <div class="form-inline">
        <label>Work Experiance</label>
        <select name="workexp" #workexp="ngModel" ngModel required class="form-control ml-5">
            <option value="">--Select a Experiance--</option>
            <option [value]="e" *ngFor="let e of exp">{{e}}</option>
        </select>
    </div>
    <div class="text-danger" style="position: relative; left: 170px;" *ngIf="workexp.invalid && workexp.touched">
        <div *ngIf="workexp.hasError('required')">Experiance Required !!</div>
    </div>
    <br>

    <div class="form-inline">
        <label>Are you LightHouse Student</label><br>
        <div class="form-check form-check-inline  ml-5">
            <input class="form-check-input form-control" type="radio" name="org" #org (click) = "showSpec3(org.value)" ngModel id="inlineRadio1"
                value="Lighthouse" />
            <label class="form-check-label" for="inlineRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline ml-5">
            <input class="form-check-input form-control" type="radio" name="org" #org2 (click) = "showSpec3(org2.value)" ngModel id="inlineRadio2"
                value="c" />
            <label class="form-check-label" for="inlineRadio2">No</label>
        </div>
        <div class="form-inline  m-auto" [hidden] = "isShow3">
            <label class="ml-5">LightHouse Branch</label>
            <!-- <input type="text" name="branch" class="form-control" ngModel required> -->
            <select name="branch" #branch="ngModel" ngModel required class="form-control ml-5">
                <option value="">--Select a Branch--</option>
                <option [value]="l.name" *ngFor="let l of lh">{{l.name}}</option>
            </select>
        </div>
    </div>
    <div class="text-danger" style="float: right; margin-right: 100px;" *ngIf="branch.invalid && branch.touched">
        <div *ngIf="branch.hasError('required')">Branch Required !!</div>
    </div>
    <br><br>

    <div class="form-inline">
        <label>Course</label>
        <select name="course" #course="ngModel" ngModel required class="form-control m-auto">
            <option value="">--Select a Course--</option>
            <!-- <option value="java">java</option> -->
            <option [value]="c.name" *ngFor="let c of crs">{{c.name}}</option>
        </select>
        <label class="m-auto">Batch-Type</label>
        <select name="batchtype" #batchtype="ngModel" ngModel required class="form-control">
            <option value="">--Select a Batch--</option>
            <option value="Daily">Daily</option>
            <option value="Weekend">Weekend</option>
        </select>
        <!-- <input type="text" name="batchtype" class="form-control" ngModel required> -->
    </div>
    <div class="form-inline"><br>
        <div class="text-danger" style="position: absolute; margin-left: 100px;"
            *ngIf="course.invalid && course.touched">
            <div *ngIf="course.hasError('required')">Course Required !!</div>
        </div>
        <!-- <br> -->
        <div class="text-danger" style="position: relative; left: 700px;"
            *ngIf="batchtype.invalid && batchtype.touched">
            <div *ngIf="batchtype.hasError('required')">Batch type Required !!</div>
        </div>
    </div>
    <br>

    <div class="form-group">
        <label>Referance</label>
        <select name="ref" #ref="ngModel" ngModel required class="form-control">
            <option value="">--Select a Referance--</option>
            <option [value]="r" *ngFor="let r of referance">{{r}}</option>
        </select>
        <div class="text-danger" *ngIf="ref.invalid && ref.touched">
            <div *ngIf="ref.hasError('required')">Referance Required !!</div>
        </div>
    </div>

    <!-- [disabled]="fdata.invalid" -->
    <br>
    <button class="btn btn-primary" style="float: right;" type="submit">Submit</button>
</form>
<br><br>